{% block title %}
Household Finance
{% endblock %}

{% block content %}
<p><strong>What is the total monthly net income of your household?</strong></p>
<p style="font-size: 14px;">Note: This refers to the total amount, comprising wages, salary, income from self-employment and pensions, in each case after deducting taxes and Social Security contributions. In this amount, please include any income received through public aid, earnings from rents and leases, housing allowance, child benefits, and any other source of income.</p>
{{ formfields }}
{{ next_button }}

{% endblock %}
